.Barrage-icon--roomAdmin {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-player-aside-master/assets/fonts/room-admin_abc5a2e.svg)
}
.Barrage-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.Barrage-noble,.Barrage-nobleImg {
    width: 28px;
    height: 28px
}

.Barrage-icon {
    display: inline-block;
    vertical-align: middle;
}

.Barrage-roomVipIcon {
    float: right;
    margin-top: 6px;
    margin-right: 4px;
    width: 18px;
    height: 16px;
    -webkit-background-size: 18px 16px;
    -moz-background-size: 18px 16px;
    background-size: 18px 16px;
    background-image: url(https://sta-op.douyucdn.cn/dygev/2020/09/11/15a75c07419d018d1c78e47c30bcae66.png)
}