.UserLevel--1 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: 0 -16px
}

.UserLevel--2 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -80px -128px
}

.UserLevel--3 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -40px 0
}

.UserLevel--4 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -40px -16px
}

.UserLevel--5 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: 0 -32px
}

.UserLevel--6 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -40px -32px
}

.UserLevel--7 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: 0 -48px
}

.UserLevel--8 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -40px -48px
}

.UserLevel--9 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: 0 -64px
}

.UserLevel--10 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -40px -64px
}

.UserLevel--11 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -80px 0
}

.UserLevel--12 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -80px -16px
}

.UserLevel--13 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -80px -32px
}

.UserLevel--14 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -80px -48px
}

.UserLevel--15 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -80px -64px
}

.UserLevel--16 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: 0 -80px
}

.UserLevel--17 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -40px -80px
}

.UserLevel--18 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -80px -80px
}

.UserLevel--19 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: 0 -96px
}

.UserLevel--20 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -40px -96px
}

.UserLevel--21 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -80px -96px
}

.UserLevel--22 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -120px 0
}
.UserLevel--23 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -120px -16px
}

.UserLevel--24 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -120px -32px
}

.UserLevel--25 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -120px -48px
}

.UserLevel--26 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -120px -64px
}
.UserLevel--27 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -120px -80px
}

.UserLevel--28 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -120px -96px
}

.UserLevel--29 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: 0 -112px
}

.UserLevel--30 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -40px -112px
}

.UserLevel--31 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -80px -112px
}

.UserLevel--32 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -120px -112px
}

.UserLevel--33 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: 0 -128px
}

.UserLevel--34 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -40px -128px
}

.UserLevel--35 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: 0 0
}

.UserLevel--36 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -120px -128px
}

.UserLevel--37 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: 0 -144px
}

.UserLevel--38 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -40px -144px
}

.UserLevel--39 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -80px -144px
}

.UserLevel--40 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -120px -144px
}

.UserLevel--41 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -160px 0
}

.UserLevel--42 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -160px -16px
}

.UserLevel--43 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -160px -32px
}

.UserLevel--44 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -160px -48px
}

.UserLevel--45 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -160px -64px
}
.UserLevel--46 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -160px -80px
}

.UserLevel--47 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -160px -96px
}

.UserLevel--48 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -160px -112px
}

.UserLevel--49 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -160px -128px
}

.UserLevel--50 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -160px -144px
}

.UserLevel--51 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: 0 -160px
}

.UserLevel--52 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -40px -160px
}

.UserLevel--53 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -80px -160px
}

.UserLevel--54 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -120px -160px
}

.UserLevel--55 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -160px -160px
}

.UserLevel--56 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: 0 -176px
}

.UserLevel--57 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -40px -176px
}

.UserLevel--58 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -80px -176px
}

.UserLevel--59 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -120px -176px
}

.UserLevel--60 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -160px -176px
}

.UserLevel--61 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -200px 0
}

.UserLevel--62 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -200px -16px
}

.UserLevel--63 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -200px -32px
}

.UserLevel--64 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -200px -48px
}

.UserLevel--65 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -200px -64px
}

.UserLevel--66 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -200px -80px
}

.UserLevel--67 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -200px -96px
}

.UserLevel--68 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -200px -112px
}

.UserLevel--69 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/sprite.userLevel_cd70fed.png);
    background-position: -200px -128px
}

.UserLevel--70 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/70_9e0c4a3.gif)
}

.UserLevel--71 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/71_431b41a.gif)
}

.UserLevel--72 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/72_cc0f0ae.gif)
}

.UserLevel--73 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/73_390e75f.gif)
}

.UserLevel--74 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/74_e930944.gif)
}

.UserLevel--75 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/75_8db9f1c.gif)
}

.UserLevel--76 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/76_6a754d2.gif)
}

.UserLevel--77 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/77_511a43e.gif)
}

.UserLevel--78 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/78_96cf2a1.gif)
}

.UserLevel--79 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/79_bf8ea41.gif)
}

.UserLevel--80 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/80_a683067.gif)
}

.UserLevel--81 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/81_8cfeb3c.gif)
}

.UserLevel--82 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/82_57f581a.gif)
}

.UserLevel--83 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/83_2c123e2.gif)
}

.UserLevel--84 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/84_67c820a.gif)
}

.UserLevel--85 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/85_548fb0d.gif)
}

.UserLevel--86 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/86_4c2afa2.gif)
}

.UserLevel--87 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/87_29587ae.gif)
}

.UserLevel--88 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/88_791591e.gif)
}
.UserLevel--89 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/89_145b015.gif)
}

.UserLevel--90 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/90_ac42a06.gif)
}

.UserLevel--91 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/91_46d07df.gif)
}

.UserLevel--92 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/92_b569c59.gif)
}

.UserLevel--93 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/93_70b6f7c.gif)
}

.UserLevel--94 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/94_0923bd9.gif)
}

.UserLevel--95 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/95_46a80a0.gif)
}

.UserLevel--96 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/96_1a30913.gif)
}

.UserLevel--97 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/97_5f8ab40.gif)
}

.UserLevel--98 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/98_51d1efa.gif)
}

.UserLevel--99 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/99_9e017b4.gif)
}

.UserLevel--100 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/100_fd726ff.gif)
}

.UserLevel--101 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/101_5a3e32d.gif)
}

.UserLevel--102 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/102_f1992fe.gif)
}

.UserLevel--103 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/103_28f0900.gif)
}

.UserLevel--104 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/104_264e6d6.gif)
}

.UserLevel--105 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/105_d937408.gif)
}

.UserLevel--106 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/106_240f6f6.gif)
}

.UserLevel--107 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/107_be332d1.gif)
}

.UserLevel--108 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/108_1ed704b.gif)
}

.UserLevel--109 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/109_ae6c0da.gif)
}

.UserLevel--110 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/110_de935d9.gif)
}

.UserLevel--111 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/111_79ef6ed.gif)
}

.UserLevel--112 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/112_4038d2e.gif)
}

.UserLevel--113 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/113_1aefeaf.gif)
}

.UserLevel--114 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/114_2363630.gif)
}

.UserLevel--115 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/115_19bb4b7.gif)
}

.UserLevel--116 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/116_c375daf.gif)
}

.UserLevel--117 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/117_6fc53b6.gif)
}

.UserLevel--118 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/118_a6903f1.gif)
}

.UserLevel--119 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/119_489ae63.gif)
}

.UserLevel--120 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/120_469ea68.gif)
}

.UserLevel--121 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/121_f6b138d.gif)
}

.UserLevel--122 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/122_b591b57.gif)
}

.UserLevel--123 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/123_3af17a6.gif)
}

.UserLevel--124 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/124_fdca954.gif)
}

.UserLevel--125 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/125_13114e2.gif)
}

.UserLevel--126 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/126_f506766.gif)
}

.UserLevel--127 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/127_c068b8b.gif)
}

.UserLevel--128 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/128_179bb75.gif)
}

.UserLevel--129 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/129_18f4c34.gif)
}

.UserLevel--130 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/130_16ddd18.gif)
}

.UserLevel--131 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/131_8983332.gif)
}

.UserLevel--132 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/132_db75dff.gif)
}

.UserLevel--133 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/133_8614495.gif)
}

.UserLevel--134 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/134_67ff2bf.gif)
}

.UserLevel--135 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/135_16a4d3e.gif)
}

.UserLevel--136 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/136_72e7e9a.gif)
}

.UserLevel--137 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/137_e1906b6.gif)
}

.UserLevel--138 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/138_5b16b5b.gif)
}
.UserLevel--139 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/139_b446a3c.gif)
}

.UserLevel--140 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/140_ad26d3e.gif)
}

.UserLevel--141 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/141_ba41504.gif)
}
.UserLevel--142 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/142_bf3d140.gif)
}

.UserLevel--143 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/143_71d2074.gif)
}

.UserLevel--144 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/144_878240c.gif)
}

.UserLevel--145 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/145_bf7c511.gif)
}

.UserLevel--146 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/146_2e078be.gif)
}


.UserLevel--147 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/147_76309a7.gif)
}

.UserLevel--148 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/148_66c157a.gif)
}

.UserLevel--149 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/149_d0aada4.gif)
}

.UserLevel--150 {
    background-image: url(https://shark2.douyucdn.cn/front-publish/live-master/assets/images/150_ac3023f.gif)
}
