@import "./themes/index.scss";
// 引入components中templates下所有的style
@import "../components/Danmaku/templates/Default/styles/index.scss";
@import "../components/Enter/templates/Default/styles/index.scss";
@import "../components/Gift/templates/Default/styles/index.scss";
.monitor {
    @include backgroundColor("backgroundColor");
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    // flex-direction: v-bind(directionStyle);
    // font-size: v-bind(fontSizeStyle);
    flex-direction: column;
    font-size: 14;
    user-select: none;
    > div {
        height: 100%;
    }

    .splitline {
        @include backgroundColor("splitLineColor");
    }
    .avatar {
        width: var(--avatarSize, 28px);
        height: var(--avatarSize, 28px);
        border-radius: 50%;
    }

    .danmaku, .enter, .gift {
        overflow-x: hidden;
        overflow-y: auto;
        content-visibility: auto;
        .item {
            justify-content: var(--justifyContent, "flex-start");
            text-align: var(--textAlign, "left");
        }
    }
}

.popup {
    .popup-top {
        user-select: none;
        height: 32px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 0 10px;
        box-sizing: border-box;
        text-align: right;
        border-bottom: 1px solid rgb(227, 227, 227);
        > div {
            width: 24px;
            height: 24px;
            margin-left: 10px;
            cursor: pointer;
        }
        .douyuex {
            position: absolute;
            left: 0;
        }
        .github {
            position: absolute;
            left: 34px;
        }
    }
}