// 全局样式
* {
    padding: 0;
    margin: 0;
}

html, body, #app {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: "微软雅黑";
}

 /*滚动条样式*/
 *::-webkit-scrollbar {
    width: 0px !important;    
}
* {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}