// 全局样式
* {
    padding: 0;
    margin: 0;
}

html, body, #app {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: "微软雅黑";
}

 /*滚动条样式*/
 *::-webkit-scrollbar {
    width: 0px !important;    
}
* {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

@import "@/global/utils/dydata/fansLevel.scss";
@import "@/global/utils/dydata/roomAdmin.scss";
@import "@/global/utils/dydata/userLevel.scss";

.van-checkbox--horizontal {
    margin-bottom: 1px;
    margin-top: 1px;
}

@keyframes fade {
    0% {
        opacity: 0;
        position: absolute;
        margin-left: 55px;
    }
    100% {
        opacity: 1;
        margin-left: 0px;
    }
}