// 全局样式
* {
    padding: 0;
    margin: 0;
}

html, body, #app {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

 /*滚动条样式*/
 *::-webkit-scrollbar {
    width: 4px;    
}
*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}