// 全局样式
* {
    padding: 0;
    margin: 0;
}

html, body, #app {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: "微软雅黑";
}

 /*滚动条样式*/
 *::-webkit-scrollbar {
    width: 0px !important;    
}
* {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

@import "@/global/utils/dydata/fansLevel.scss";
@import "@/global/utils/dydata/roomAdmin.scss";
@import "@/global/utils/dydata/userLevel.scss";

.van-checkbox--horizontal {
    margin-bottom: 1px;
    margin-top: 1px;
}

@-webkit-keyframes fadeInLeft {
	0% {
		opacity: .4;
		-webkit-transform: translateX(30px);
	}	
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}
 
@keyframes fadeInLeft {
	0% {
		opacity: .4;
		transform: translateX(30px);
	}	
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.fadeInLeft {
    animation: fadeInLeft 0.45s;
}