@import "../../../../../styles/themes/index.scss";
.enter {
    .item {
        vertical-align: middle;
        width: 100%;
        margin-bottom: 5px;
        padding: 0 4px;
        box-sizing: border-box;
        &:first-child {
            margin-top: 5px;
        }
        >*{
            margin-right: 5px;
            vertical-align: middle;
        }
        .item__name {
            @include fontColor("contentColor");
            span {
                @include fontColor("nicknameColor");
            }
        }
        .item__time {
            @include fontColor("contentColor");
            font-size: 12px;
        }
    }
    
    .highlight-day {
        background-color:rgb(255,243,223);border-top:1px solid #ffe4b8;border-bottom:1px solid #ffe4b8;
    }
    .highlight-night {
        background-color: #494949;background-image: linear-gradient(90deg, #494949 0%, #9a9a9a 100%);
    }
    .noble-day {
        background-color:rgb(227,230,232);
    }
    .noble-night {
        background-color:rgb(55,55,55);border-top:1px solid rgb(90,90,90);border-bottom:1px solid rgb(90,90,90);
    }
}